.navbar {
    border-bottom: 3px solid #ffc107; /* Yellow accent */
}

.nav-link {
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    font-weight: 500;
    border-radius: 5px;
}

.nav-link:hover, .nav-link.active {
    background-color: #ffc107 !important;
    color: black !important;
}

.btn {
    font-weight: 500;
    border-radius: 8px;
}

.dropdown-menu {
    border: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
.login{
    text-decoration: none;
}
.dropdown-item:hover {
    background-color: #ffc107 !important;
    color: black !important;
}

@media (max-width: 992px) {
    .navbar-nav {
        align-items: center !important;
    }
    .nav-item {
        width: 100%;
    }
    .logout {
        margin-top: 10px;
    }
}
