{% extends 'base/base.html' %}

{% block style %}
<style>
form div {
    margin-top: 10px;
}
</style>
{% endblock style %}

{% block content %}
<div class="container mt-3">
    <h1 class="mt-2 text-center text-primary">{{ form_name }}</h1>
    <hr class="w-50 mx-auto">

    <div class="col-md-8 mx-auto">
        <form method="post" enctype="multipart/form-data" class="p-5 border rounded shadow bg-light {{ form_class_name }}">
            {% csrf_token %}
            
            {% for field in form %}
            <div class="mb-3">
                <label class="form-label fw-bold">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                <div class="alert alert-danger p-2 mt-2">
                    {% for error in field.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            {% endfor %}

            {% if form.non_field_errors %}
            <div class="alert alert-danger mt-3">
                {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </div>
            {% endif %}

            <div class="d-flex justify-content-between align-items-center mt-4">
                <button type="submit" class="btn btn-primary fw-bold btn-sm">
                    <i class="fas fa-plus-circle"></i> {{ btn_name }}
                </button>
                <a href="{% url 'list_all' %}" class="btn btn-outline-danger btn-sm">
                    <i class="fas fa-times"></i> Cancel
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock content %}

{% block script %}
<script>
    window.addEventListener("load", function () {
    let elements = ["id_name", "id_quantity", "id_critical_quantity", "id_description"];
    elements.forEach(id => {
        let element = document.getElementById(id);
        if (element) {
            element.classList.add("form-control");
            if (id === "id_description") {
                element.style.height = "100px"; 
                element.style.resize = "vertical"; 
            }
        }
    });
});

</script>
{% endblock script %}
