{% extends "base/base.html" %}
{% load static %}

{% load crispy_forms_tags %}


{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>

{% endblock header %}

{% block content %}


    <div class="content-section container login-container">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mt-4 mb-4">Login</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info mb-4" type="submit">Login</button>
            </div>
        </form>
    </div>
{% endblock content %}