{% extends "base/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container mt-3">
    <h1 class="mt-2 text-center text-primary">Register Employee</h1>
    <hr class="w-50 mx-auto">

    <div class="col-md-8 mx-auto">
        <form method="post" enctype="multipart/form-data" class="p-5 border rounded shadow bg-light">
            {% csrf_token %}
            {% for field in form %}
            <div class="mb-3">
                {{ field|as_crispy_field }}
            </div>
            {% endfor %}
            {% if form.non_field_errors %}
            <div class="alert alert-danger mt-3">
                {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </div>
            {% endif %}

            <div class="d-flex justify-content-between align-items-center mt-4">
                <button type="submit" class="btn btn-primary fw-bold btn-sm">
                    <i class="fas fa-user-plus"></i> Register
                </button>
                <a href="{% url 'dashboard' %}" class="btn btn-outline-danger btn-sm">
                    <i class="fas fa-times"></i> Cancel
                </a>
            </div>
            
        </form>
    </div>
</div>

{% endblock content %}
